.sign{
    background: url("https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_640.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
  
}